[user]
	name = Arthur Vasconcelos
	email = arthur@platform24.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINxQFEz4py2qvO65j56Amm9ptHu58umr0R52OepNLDg5
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
